.form {
	display: flex;
	flex-flow: column nowrap;
	max-width: 100%;
	padding: 20px 0 0;
}

.form__label {
	font-weight: 700;
	font-size: 12px;
	margin: 0 0 5px;
	color: hsl(234, 29%, 20%);
}

.form__input {
	line-height: 2.5;
	padding: 4px 20px;
	min-width: 100%;
	margin: 0 0 32px;
	border: 1px solid hsl(231, 7%, 60%);
	border-radius: 6px;
	position: relative;
}

.form__error {
	display: block;
	padding: 0;
	margin: 0 0 10px;
	font-size: 80%;
	color: hsl(0, 0%, 100%);
	border-radius: 5px 5px 0 0;
	box-sizing: border-box;
	position: relative;
}

.form__error.active {
	margin: -22px 0 10px;
	padding: 0.3em;
	position: absolute;
	font-size: 12px;
	left: 100px;
	top: 634px;
	z-index: 1;
	color: hsl(4, 100%, 67%);
}

.form__error.active ~ .form__input {
	border-color: hsl(4, 70%, 53%);
	background-color: hsl(3, 69%, 88%);
	color: hsl(4, 70%, 53%);
	outline: 1px solid hsl(4, 70%, 53%);
}

@media screen and (min-width: 826px) {
	.form {
		max-width: 100%;
		padding: 20px 0 0;
	}

	.form__label {
		display: block;
		padding: 0;
		margin-bottom: 0;
	}

	.form__input:focus,
	.form__input:active {
		outline: none;
		box-shadow: 0 0 1px 1px hsl(0, 0%, 0%);
	}

	.form__error.active {
		margin: -22px 0 10px 84px;
		font-size: 11px;
		position: unset;
		top: unset;
		left: unset;
	}
}
