@font-face {
	font-family: "Roboto";
	src: url("https://practicum-content.s3.us-west-1.amazonaws.com/web-code/fonts/moved_roboto-400.woff")
		format("woff");
	font-weight: 400;
}
@font-face {
	font-family: "Roboto";
	src: url("https://practicum-content.s3.us-west-1.amazonaws.com/web-code/fonts/moved_roboto-200.woff")
		format("woff");
	font-weight: 200;
}
@font-face {
	font-family: "Roboto";
	src: url("https://practicum-content.s3.us-west-1.amazonaws.com/web-code/fonts/moved_roboto-700.woff")
		format("woff");
	font-weight: 700;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	background-color: hsl(234, 29%, 20%);
}
.page {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: "Roboto", "Inter", "Arial", sans-serif;
	line-height: 1.5;
	color: hsl(234, 29%, 20%);
}

@media screen and (min-wdth: 826px) {
	.page {
		max-width: 100%;
		padding: 40px;
		min-height: auto;
		font-size: 16px;
		line-height: 1.5;
		background: hsl(236, 29%, 20%);
	}
}
