.success {
	display: none;
	width: 100%;
	max-width: 375px;
	height: 100vh;
	justify-content: center;
	flex-direction: column;
	margin: auto;
	background-color: hsl(0, 0%, 100%);
}

.success__details {
	width: 100%;
	padding: 20px;
	background: hsl(0, 0%, 100%);
	max-width: 100%;
	max-height: 60%;
}

.success__image {
	width: 50px;
	height: 50px;
	background-color: tomato;
	border-radius: 50%;
	background-image: url("../assets/images/icon-success.svg");
	background-size: cover;
	margin-bottom: 20px;
}

.success__title {
	font-size: 38px;
	padding-top: 8px;
	margin: 0;
	color: hsl(234, 29%, 20%);
	line-height: 1.1;
}

.success__paragraph {
	font-size: 16px;
}

.success__user-email {
	font-weight: 700;
}

@media screen and (min-width: 826px) {
	.success {
		display: none;
		align-items: center;
		justify-content: center;
		align-content: center;
		height: 100vh;
		margin: auto;
		max-width: 440px;
		padding: 30px;
		box-sizing: border-box;
		background-color: transparent;
	}

	.success__details {
		max-width: 50%;
		max-height: 400px;
		padding: 40px;
		border-radius: 20px;
		background: hsl(0, 0%, 100%);
		margin: auto;
	}
	.success__image,
	.success__details {
		max-width: 100%;
	}

	.success__image {
		width: 50px;
		height: 50px;
		background-color: tomato;
		border-radius: 50%;
		margin-bottom: 20px;
	}

	.success__title {
		line-height: 1.1;
	}

	.success__paragraph {
		font-size: 12px;
		margin-bottom: 40px;
	}

	.success__button {
		display: block;
		margin: 130px auto;
	}

	.success__button:active {
		background-image: linear-gradient(
			to right,
			hsl(346, 100%, 66%),
			hsl(12, 100%, 63%)
		);
	}
}
